<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elewise.ldmobile">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/launch"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            android:name=".MainApp">
        <activity
                android:name="com.elewise.ldmobile.ui.LoginActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.DocActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.DocsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.FilterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".ui.DocActionActivity"
            android:theme="@style/AppTheme.TranscluentModal"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".ui.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".ui.SettingsCriptoProActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".ui.DocLineDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.InputLicenseNumberActivity"
            android:theme="@style/AppTheme.TranscluentModal"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.elewise.ldmobile.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>